.container .page-section {
    width: 92%;
    min-height: 320px;
}

.container .page-section.page-section-ahead {

}

.container .page-section.page-section-ahead .root {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.container .page-section.page-section-ahead .root .wrapper {
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background-image: url('../img/huy-ahead.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #111111;
    border: solid 8px #111111;
}

.container .page-section.page-section-ahead .root .wrapper h2 {
    margin-top: 10px;
    font-size: 18px;
}

@-webkit-keyframes opacity_ {
    0% {opacity: 1;}
    50% {opacity: .3;}
    100% {opacity: 1}
}

@keyframes opacity_ {
    0% {opacity: 1;}
    50% {opacity: .3;}
    100% {opacity: 1}
}

.container .page-section.page-section-ahead .root svg {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */

    margin-left: 30px;
    width: 130px;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;

    -webkit-animation-name: opacity_;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;

    animation-name: opacity_;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.container h3 {
    margin-top: 10px;
    display: none;
    -webkit-animation-name: opacity_;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;

    animation-name: opacity_;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.container .page-section.page-section-ahead .root svg .st0 {
    cursor: pointer;
}

.container .page-section.page-section-ahead .root svg .st0:hover {
    fill: orange;
}

.container .page-section.page-section-ahead .leave {
    margin-left: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.container .page-section.page-section-ahead .leave .btn {
    font-size: 18px;
}

.container .page-section.page-section-ahead .leave .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.container .page-section.page-section-ahead .leave .group {

}

.container .page-section.page-section-ahead .leave .group-top a {
    margin-bottom: 10px;
}

.container .page-section.page-section-ahead .leave .group-bottom a {
    margin-top: 10px;
}

.container-abcxyz .page-section .root {
    margin-bottom: 30px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.container-abcxyz .page-section .root .wrapper {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.container-abcxyz .page-section .root .wrapper > .group {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.container-abcxyz .page-section .root .wrapper .group.group-left {
    -webkit-flex-shrink: 3.5;
    flex-shrink: 3.5;
    -webkit-flex-grow: 4;
    flex-grow: 4;
}

.container-abcxyz .page-section .root .wrapper .group.group-right {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.container-abcxyz .page-section .root .wrapper .group > * {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.container-abcxyz .page-section .root .wrapper .group.group-left > * {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.container-abcxyz .page-section .root .wrapper .group.group-left > *:last-child {

}

.container-abcxyz .page-section .root .huy {
    -webkit-flex-grow: 1;
    -webkit-flex-grow: 1;
    border: solid 8px #111111;
    border-bottom-width: 24px;
    background-size: 100%;
    background-position: center;
    background-color: #111111;
    background-repeat: no-repeat;
    -webkit-transition: border-color .1s ease-in-out;
    transition: border-color .1s ease-in-out;
    cursor: pointer;
    margin: 0 0 10px 10px;
}

.container-abcxyz .page-section .root .huy.v {
    background-size: auto 100%;
}

.container-abcxyz .page-section .root .huy:hover {
    border-color: darkorange;
}

.container-abcxyz .page-section .root .huy-1 {
    /*width: 332px;
    height: 220px;*/
    /*min-width: 300px;*/
    background-image: url("../img/huy-ahead.jpg");
    -webkit-flex-grow: 1.3;
    flex-grow: 1.3;
}

.container-abcxyz .page-section .root .huy-2 {
    /*width: 220px;
    height: 220px;*/
    /*min-width: 250px;*/
    background-image: url("../img/huy-2.jpg");
}

.container-abcxyz .page-section .root .huy-3 {
    /*width: 390px;
    height: 220px;*/
    /*min-width: 300px;*/
    background-image: url("../img/huy-3.jpg");
    -webkit-flex-grow: 1.5;
    flex-grow: 1.5;
}

.container-abcxyz .page-section .root .huy-4 {
    /*min-width: 300px;*/
    background-image: url("../img/huy-4.jpg");
}

.container-abcxyz .page-section .root .huy-5 {
    /*width: 273px;
    height: 273px;*/
    /*min-width: 250px;*/
    background-image: url("../img/huy-5.jpg");
}

.container-abcxyz .page-section .root .huy-6 {
    /*width: 407px;
    height: 273px;*/
    /*min-width: 350px;*/
    background-image: url("../img/huy-6.jpg");
    -webkit-flex-grow: 1.6;
    flex-grow: 1.6;
}

.container-abcxyz .page-section .root .huy-7 {
    /*width: 273px;
    height: 273px;*/
    /*min-width: 250px;*/
    background-image: url("../img/huy-7.jpg");
}

.container-abcxyz .page-section .leave {

}

.container-abcxyz .page-section .leave .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.container-abcxyz .page-section .leave .sign {
    display: block;
    width: 100px;
}

.container-abcxyz .page-section .leave .sign svg {
    width: 100%;
}

.container-abcxyz .page-section .leave .sign:hover svg .st0 {
    fill: darkorange;
}

.container-ve .page-section {
    width: 1000px;
}

.container-ve .page-section .root {
    margin-bottom: 10px;
}

.container-ve .page-section .root > .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.container-ve .page-section .root > .wrapper .group {

}

.container-ve .page-section .root > .wrapper .group.group-left {
    margin-right: 15px;
}

.container-ve .page-section .root > .wrapper .group.group-left .item {
    border: dashed 2px grey;
    padding: 40px 15px;
}

.container-ve .page-section .root > .wrapper .group.group-left .item .literaturing {
    margin: 5px 0;
}

.container-ve .page-section .root > .wrapper .group.group-left .item .decorating {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 415px;
    background-size: 100%;
    background-color: darkorange;
    border: solid 4px #111111;
}

.container-ve .page-section .root > .wrapper .group.group-right {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.container-ve .page-section .root > .wrapper .group.group-right .group-right-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.container-ve .page-section .root > .wrapper .group.group-right .item{
    background-size: 100%;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.container-ve .page-section .root > .wrapper .group.group-right .item.item-normal-v {
    width: 120px;
    height: 167px;
}

.container-ve .page-section .root > .wrapper .group.group-right .item.item-normal-h {
    width: 234px;
    height: 167px;
}

.container-ve .page-section .leave {

}

.container-ve .page-section .leave .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.container-ve .page-section .leave .sign {
    display: block;
    width: 100px;
}

.container-ve .page-section .leave .sign svg {
    width: 100%;
}

.container-ve .page-section .leave .sign:hover svg .st0 {
    fill: darkorange;
}
